<main>
    <h2 class="titulo">Entre em contato com a nossa equipe!</h2>
    <sector class="contato">
        <div class="contato__bloco">
            <p>Christopher Ventura</p>
            <div class="contato__links">
                <a class="github" href="https://github.com/chrisventur" target="_blank"><img id="git__chris" src="/img/logo-github.png"></a>
                <a class="linkedin" href="https://www.linkedin.com/in/chrisktventura/" target="_blank"> <img id="linkedin__chris" src="/img/logo-linkedin.png"></a>
            </div>
        </div>
        <div class="contato__bloco">
            <p>Luis Guilherme Kapp</p>
            <div class="contato__links">
                <a class="github" href="https://github.com/luiskapp" target="_blank"><img id="git__luis" src="/img/logo-github.png"></a>
                <a class="linkedin" href="https://www.linkedin.com/in/luis-guilherme-kapp-a367a9198/" target="_blank"> <img id="linkedin__luis" src="/img/logo-linkedin.png"></a>
            </div>
        </div>  
        <div class="contato__bloco">
            <p>Marcelo A. Santos</p>
            <div class="contato__links">
                <a class="github" href="https://github.com/DJMarshallSantos" target="_blank"><img id="git__marcelo" src="/img/logo-github.png"></a>
                <a class="linkedin" href="https://www.linkedin.com/in/marcelo-a-santos-76141b85/?originalSubdomain=;br" target="_blank"> <img id="linkedin__marcelo" src="/img/logo-linkedin.png"></a>
            </div>
        </div>
        <div class="contato__bloco">    
            <p>Mônica Dias</p>
            <div class="contato__links">
                <a class="github" href="https://github.com/monicahdias" target="_blank"><img id="git__monica" src="/img/logo-github.png"></a>
                <a class="linkedin" href="https://www.linkedin.com/in/monicashdias/" target="_blank"> <img id="linkedin__monica" src="/img/logo-linkedin.png"></a>
            </div>
        </div>

    </sector>
</main>
